<div class="container">
      <div class="card-deck">
        <div class="card bg-primary" style="width:400px">
            <div class="card-body text-center">
              <p class="card-text">Tài khoản chờ phê duyệt</p>
              <a href="#" class="btn btn-primary stretched-link">Xem chi tiết</a>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
              <p class="card-text">Tài khoản đang hoạt động</p>
              <a href="#" class="btn btn-primary stretched-link">Xem chi tiết</a>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
              <p class="card-text">Tin đã được duyệt</p>
              <a href="#" class="btn btn-primary stretched-link">Xem chi tiết</a>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
              <p class="card-text">Tin chờ phê duyệt</p>
              <a href="#" class="btn btn-primary stretched-link">Xem chi tiết</a>
            </div>
        </div>
      </div>
      <hr/>
      <div class="dashboard__content--title">
        <h2 class="dashboard-title">Danh sách công việc có lượt xem nhiều nhất</h2>
    </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tin đăng</th>
            <th scope="col">Công việc</th>
            <th scope="col">Ngành</th>
            <th scope="col">Số lượt xem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
  </div>