
.dropdown{
    display: inline !important;
    margin-left: 10px !important;
}
th{
    vertical-align: middle !important;
    border: 1px solid black !important;
    text-align: center;
    background-color: #63cdd7 !important;
    color: white !important;
    font-weight: bold !important;

}
td{
    border: 1px solid black !important;
    text-align: right;
    color: black !important;
}
.form-control{
    margin-left: 10px !important;
    width: 100px !important;
}
.thda{
    display: inline !important;
}
